.card {
  border: none;

  border-radius: 15px;

  overflow: hidden;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.cardImg {
  height: 300px;

  object-fit: cover;
}

.cardTitle {
  font-size: 22px;

  font-weight: bold;

  color: #222;
}

.cardText {
  font-size: 16px;

  color: #555;
}